*.mp4
*.mp3
*.ynk
*.tmp
*djd*
*djd
*~
c_life.a
darland_philosophy/DarlandPhilosophyLife/editdiffs.sh
darland_philosophy/DarlandPhilosophyLife/editdiffs2.sh
*#*
darland_philosophy/DarlandPhilosophyLife/APPROVED/
darland_philosophy/DarlandPhilosophyLife/LFSAV/
darland_philosophy/DarlandPhilosophyLife/ERRDIFF/
darland_philosophy/DarlandPhilosophyLife/REFDIFF/
darland_philosophy/DarlandPhilosophyLife/LFTMP/
darland_philosophy/DarlandPhilosophyLife/APPROVED2/
darland_philosophy/DarlandPhilosophyLife/LFSAV2/
darland_philosophy/DarlandPhilosophyLife/ERRDIFF2/
darland_philosophy/DarlandPhilosophyLife/REFDIFF2/
darland_philosophy/DarlandPhilosophyLife/LFTMP2/
share/
share2/